Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: remove deprecated apis
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/index.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.spec.tsx
  packages/react/src/wrap.tsx
Due: @suspensive/react, @suspensive/react-query

Create clean-singers-know.md
  .changeset/clean-singers-know.md
Due: none

chore: update
  packages/react/src/Suspense.spec.tsx
  packages/react/src/wrap.spec.tsx
  packages/react/src/wrap.tsx
Due: @suspensive/react

feat(react, react-query): remove deprecated apis
  .changeset/clean-singers-know.md
  .changeset/pre.json
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/index.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.spec.tsx
  packages/react/src/wrap.tsx
Due: @suspensive/react, @suspensive/react-query

chore: update
  docs/suspensive.org/src/pages/_meta.en.json
  docs/suspensive.org/src/pages/_meta.ko.json
  docs/suspensive.org/theme.config.tsx
Due: none

chore: update
  .github/labeler.yml
  docs/suspensive.org/src/pages/_meta.en.json
  docs/suspensive.org/src/pages/_meta.ko.json
Due: none

docs(suspensive.org): update links
  docs/suspensive.org/src/pages/_meta.en.json
  docs/suspensive.org/src/pages/_meta.ko.json
Due: none

feat(*): deprecate react v16, v17
  configs/test-utils/package.json
  packages/react-await/package.json
  packages/react-await/src/Await.tsx
  packages/react-image/package.json
  packages/react-image/src/Load.tsx
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

Create swift-moons-help.md
  .changeset/swift-moons-help.md
Due: none

feat(*): remove target react v16, v17, unnecessary use-sync-external-store (#631)
  .changeset/swift-moons-help.md
  configs/test-utils/package.json
  packages/react-await/package.json
  packages/react-await/src/Await.tsx
  packages/react-image/package.json
  packages/react-image/src/Load.tsx
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

feat(react): rename Suspensive defaultOptions -> defaultProps
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.ko.mdx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultPropsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/providers.tsx
Due: @suspensive/react

Create brown-tips-shout.md
  .changeset/brown-tips-shout.md
Due: none

feat(react): rename Suspensive defaultOptions -> defaultProps (#632)
  .changeset/brown-tips-shout.md
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.ko.mdx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultPropsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/providers.tsx
Due: @suspensive/react

chore: update
  .changeset/swift-moons-help.md
Due: none

chore: update
  .changeset/eight-peas-hear.md
Due: none

fix(react-query): make @suspensive/react-query v2 all naming convention correctly like @tanstack/react-query v5 (#401)
  .changeset/eight-peas-hear.md
  packages/react-query/src/index.ts
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: @suspensive/react-query

feat(react): add ErrorBoundary.Consumer, ErrorBoundaryGroup.Consumer (#610)
  .changeset/little-ladybugs-relate.md
  README.md
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.en.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
Due: @suspensive/react

chore: version packages (#637)
  .changeset/little-ladybugs-relate.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

fix(*): add use-sync-external-store to replace useEffect, useState (#596)
  .changeset/yellow-carrots-play.md
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  package.json
  packages/react-await/src/Await.tsx
  packages/react-image/src/Load.tsx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/DevMode.production.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/SuspensiveDevModeContext.production.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/contexts/index.ts
  packages/react/src/models/Subscribable.ts
  packages/react/src/wrap.tsx
  packages/react/vitest-production.config.ts
  packages/react/vitest-production.setup.ts
  packages/react/vitest.setup.ts
  pnpm-lock.yaml
  turbo.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: version packages (#638)
  .changeset/yellow-carrots-play.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: none

feat(react): remove ErrorBoundaryGroup.Reset
  packages/react/src/ErrorBoundaryGroup.tsx
Due: @suspensive/react

feat(react): remove ErrorBoundaryGroup.Reset (#639)
  .changeset/four-kings-dream.md
  packages/react/src/ErrorBoundaryGroup.tsx
Due: @suspensive/react

fix(changesets): pre exit
  .changeset/pre.json
Due: none

chore(deps): update
  .czrc
  configs/eslint-config-ts/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs(next-streaming-react-query): initialization
  .codesandbox/ci.json
  .github/workflows/ci.yml
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/.eslintrc.cjs
  examples/next-streaming-react-query/.gitignore
  examples/next-streaming-react-query/next.config.js
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/postcss.config.js
  examples/next-streaming-react-query/public/next.svg
  examples/next-streaming-react-query/public/vercel.svg
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/api/text/route.ts
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/favicon.ico
  examples/next-streaming-react-query/src/app/globals.css
  examples/next-streaming-react-query/src/app/layout.tsx
  examples/next-streaming-react-query/src/app/page.tsx
  examples/next-streaming-react-query/src/app/providers.tsx
  examples/next-streaming-react-query/src/query/index.ts
  examples/next-streaming-react-query/src/react-query/SuspenseQuery.tsx
  examples/next-streaming-react-query/src/react-query/index.ts
  examples/next-streaming-react-query/tailwind.config.js
  examples/next-streaming-react-query/tsconfig.json
  package.json
  packages/react/package.json
  packlint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  websites/visualization/package.json
Due: @suspensive/react

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: update
  .codesandbox/ci.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/components/Text2.tsx
  examples/next-streaming-react-query/src/query/index.ts
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
