Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: update
  docs/v1/src/pages/docs/react/SuspensiveDevMode.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveDevMode.ko.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
Due: none

chore: update
  configs/eslint-config-js/index.js
  configs/eslint-config-ts/index.js
  configs/test-utils/src/ThrowError.tsx
  docs/v1/src/pages/docs/react/DevMode.en.mdx
  docs/v1/src/pages/docs/react/DevMode.ko.mdx
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
  packages/react-await/src/Await.tsx
  packages/react-await/src/utils/hashKey.ts
  packages/react-image/src/Image.tsx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/contexts/index.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
  packages/react/src/utility-types/PropsWithoutDevMode.ts
  packages/react/src/utility-types/index.ts
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react/DevMode/page.tsx
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: update
  configs/eslint-config-ts/index.js
Due: none

chore: update
  docs/v1/src/pages/docs/react/DevMode.en.mdx
  docs/v1/src/pages/docs/react/DevMode.ko.mdx
Due: none

fix(react): remove assert.message
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/utils/assert.ts
Due: @suspensive/react

Create shy-moles-tap.md
  .changeset/shy-moles-tap.md
Due: none

fix(react): remove assert.message (#512)
  .changeset/shy-moles-tap.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/utils/assert.ts
Due: @suspensive/react

chore: version packages (#511)
  .changeset/shy-moles-tap.md
  .changeset/slimy-chicken-sneeze.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(deps): Bump eslint-plugin-vitest from 0.3.18 to 0.3.20 (#513)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/parser from 6.15.0 to 6.16.0 (#515)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump eslint-plugin-prettier from 5.1.0 to 5.1.2 (#514)
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

test(react): add test case for DevMode
  packages/react/src/DevMode.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
Due: @suspensive/react

test(react): add test cases for DevMode (#516)
  packages/react/src/DevMode.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
Due: @suspensive/react

chore(deps): Bump axios from 1.6.2 to 1.6.3 (#519)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump tailwindcss from 3.3.5 to 3.4.0 (#518)
  docs/v1/package.json
  docs/v2/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @vitest/browser from 1.0.4 to 1.1.0 (#520)
  package.json
  pnpm-lock.yaml
Due: none

ci(eslint): update
  configs/eslint-config-js/index.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/index.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/package-json-name/package.json
  configs/test-utils/package.json
  configs/tsup/package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  websites/visualization/prettier.config.mjs
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

feat(react): add Suspense csrOnly prop to deprecate Suspense.CSROnly wrap.Suspense.CSROnly
  README.md
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.tsx
Due: @suspensive/react, @suspensive/react-query

docs(react): remove CSROnly section in AsyncBoundary
  docs/v1/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/v1/src/pages/docs/react/AsyncBoundary.ko.mdx
  packages/react/src/AsyncBoundary.tsx
Due: @suspensive/react

docs: update
  docs/v1/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/v1/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v1/src/pages/docs/why.en.mdx
  docs/v1/src/pages/docs/why.ko.mdx
  docs/v2/src/pages/docs/react/Suspense.en.mdx
  docs/v2/src/pages/docs/react/Suspense.ko.mdx
  docs/v2/src/pages/docs/why.en.mdx
  docs/v2/src/pages/docs/why.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.tsx
  websites/visualization/src/app/react-await/page.tsx
  websites/visualization/src/app/react-image/page.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Due: @suspensive/react

chore: update
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.ko.mdx
Due: none

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.15.0 to 6.16.0 (#523)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @testing-library/jest-dom from 6.1.5 to 6.1.6 (#524)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump prettier-plugin-tailwindcss from 0.5.9 to 0.5.10 (#527)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/react from 18.2.45 to 18.2.46 (#525)
  configs/test-utils/package.json
  docs/v1/package.json
  docs/v2/package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): Bump @cspell/eslint-plugin from 8.2.3 to 8.2.4 (#526)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore: update
  configs/tsup/src/index.ts
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v1/src/pages/docs/why.en.mdx
  docs/v1/src/pages/docs/why.ko.mdx
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v2/src/pages/docs/react/Suspense.en.mdx
  docs/v2/src/pages/docs/react/Suspense.ko.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v2/src/pages/docs/why.en.mdx
  docs/v2/src/pages/docs/why.ko.mdx
  docs/v2/src/pages/index.en.mdx
  docs/v2/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.tsx
  websites/visualization/src/app/react-await/page.tsx
  websites/visualization/src/app/react-image/page.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Due: @suspensive/react, @suspensive/react-query

chore: update
  docs/v1/src/pages/docs/why.en.mdx
  docs/v1/src/pages/docs/why.ko.mdx
  docs/v2/src/pages/docs/why.en.mdx
  docs/v2/src/pages/docs/why.ko.mdx
Due: none

chore: update
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v2/src/pages/docs/react/Suspense.en.mdx
  docs/v2/src/pages/docs/react/Suspense.ko.mdx
Due: none

Create three-seahorses-peel.md
  .changeset/three-seahorses-peel.md
Due: none

Update packages/react/src/Suspense.tsx
  packages/react/src/Suspense.tsx
Due: @suspensive/react

chore: update
  docs/v1/theme.config.tsx
  docs/v2/theme.config.tsx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/index.ts
Due: @suspensive/react

docs: update
  README.md
Due: none

feat(react): add Suspense clientOnly prop to deprecate Suspense.CSROnly (#521)
  .changeset/three-seahorses-peel.md
  README.md
  configs/tsup/src/index.ts
  docs/v1/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/v1/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v1/src/pages/docs/why.en.mdx
  docs/v1/src/pages/docs/why.ko.mdx
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v1/theme.config.tsx
  docs/v2/src/pages/docs/react/Suspense.en.mdx
  docs/v2/src/pages/docs/react/Suspense.ko.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v2/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v2/src/pages/docs/why.en.mdx
  docs/v2/src/pages/docs/why.ko.mdx
  docs/v2/src/pages/index.en.mdx
  docs/v2/src/pages/index.ko.mdx
  docs/v2/theme.config.tsx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/wrap.tsx
  websites/visualization/src/app/react-await/page.tsx
  websites/visualization/src/app/react-image/page.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Due: @suspensive/react, @suspensive/react-query

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
