Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): update
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore: update
  pnpm-lock.yaml
Due: none

docs(next-streaming-react-query): initialization (#650)
  .codesandbox/ci.json
  .github/workflows/ci.yml
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/.eslintrc.cjs
  examples/next-streaming-react-query/.gitignore
  examples/next-streaming-react-query/next.config.js
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/postcss.config.js
  examples/next-streaming-react-query/public/next.svg
  examples/next-streaming-react-query/public/vercel.svg
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/api/text/route.ts
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/components/Text2.tsx
  examples/next-streaming-react-query/src/app/favicon.ico
  examples/next-streaming-react-query/src/app/globals.css
  examples/next-streaming-react-query/src/app/layout.tsx
  examples/next-streaming-react-query/src/app/page.tsx
  examples/next-streaming-react-query/src/app/providers.tsx
  examples/next-streaming-react-query/src/query/index.ts
  examples/next-streaming-react-query/src/react-query/SuspenseQuery.tsx
  examples/next-streaming-react-query/src/react-query/index.ts
  examples/next-streaming-react-query/tailwind.config.js
  examples/next-streaming-react-query/tsconfig.json
  package.json
  packages/react/package.json
  packlint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  websites/visualization/package.json
Due: @suspensive/react

fix(react): add getServerSnapshot in for syncDevMode in SSR environment
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/components/Text2.tsx
  examples/next-streaming-react-query/src/app/providers.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  pnpm-lock.yaml
Due: @suspensive/react

Create happy-scissors-wait.md
  .changeset/happy-scissors-wait.md
Due: none

chore(deps): update
  pnpm-lock.yaml
Due: none

fix(react): add getServerSnapshot of use-sync-external-store in for syncDevMode in SSR environment (#656)
  .changeset/happy-scissors-wait.md
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/components/Text2.tsx
  examples/next-streaming-react-query/src/app/providers.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  pnpm-lock.yaml
Due: @suspensive/react

chore: version packages (#657)
  .changeset/happy-scissors-wait.md
  examples/next-streaming-react-query/CHANGELOG.md
  examples/next-streaming-react-query/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(next-streaming-react-query): reflect v2
  examples/next-streaming-react-query/src/app/providers.tsx
Due: none

fix(react): add getServerSnapShot in syncDevMode
  .changeset/serious-islands-teach.md
Due: none

ci(.changeset): ignore unnecessary packages
  .changeset/config.json
  examples/next-streaming-react-query/CHANGELOG.md
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/CHANGELOG.md
  websites/visualization/README.md
  websites/visualization/package.json
Due: none

ci(.changeset): ignore unnecessary packages (#660)
  .changeset/config.json
  examples/next-streaming-react-query/CHANGELOG.md
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/CHANGELOG.md
  websites/visualization/README.md
  websites/visualization/package.json
Due: none

refactor(package-json-name): remove unnecessary code
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/package-json-name/tsup.config.ts
  configs/tsconfig/base.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-image/package.json
  packages/react-image/vitest.config.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest-production.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

refactor(package-json-name): remove unnecessary code (#663)
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/package-json-name/tsup.config.ts
  configs/tsconfig/base.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-image/package.json
  packages/react-image/vitest.config.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest-production.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(*): update devDeps in internal packages
  configs/test-utils/package.json
  configs/tsup/package.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): update
  configs/eslint-config-ts/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs: update import line for react-image
  docs/suspensive.org/src/pages/docs/react-image/Image.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/Image.ko.mdx
Due: none

docs: update import line for react-image (#670)
  docs/suspensive.org/src/pages/docs/react-image/Image.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/Image.ko.mdx
Due: none

chore(deps): update
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(react): add AssertionError to assert hooks
  .changeset/gorgeous-beans-sniff.md
  packages/react/src/AssertionError.ts
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/index.ts
  packages/react/src/models/AssertionError.spec.tsx
  packages/react/src/models/AssertionError.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/AssertionError/page.tsx
Due: @suspensive/react

chore: update
  packages/react/src/ErrorBoundary.spec.tsx
Due: @suspensive/react

chore: update
  packages/react/src/models/AssertionError.spec.tsx
Due: @suspensive/react

chore(*): update dependencies
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(react): update error for hooks as SuspensiveError shouldn't be caught by ErrorBoundary
  packages/react-query/tsconfig.vitest-temp.json
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/models/AssertionError.spec.tsx
  packages/react/src/models/SuspensiveError.spec.tsx
  packages/react/src/models/SuspensiveError.ts
  packages/react/tsconfig.vitest-temp.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/SuspensiveError/page.tsx
Due: @suspensive/react, @suspensive/react-query

chore: update
  .gitignore
Due: none

chore: update
  .gitignore
  packages/react/tsconfig.vitest-temp.json
Due: @suspensive/react

chore: update
  packages/react-query/tsconfig.vitest-temp.json
Due: @suspensive/react-query

chore: update
  .changeset/gorgeous-beans-sniff.md
Due: none

docs(visualization): zod parse for searchParams assertion
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/zodSearchParams/page.tsx
Due: none

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
