Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: 100%
        threshold: 30%
      suspensive-react:
        target: 100%
        threshold: 30%
      suspensive-react-query:
        target: 100%
        threshold: 30%

comment:
  layout: "header, reach, diff, flags, components"

component_management:
  individual_components:
    - component_id: suspensive-react
      name: "@suspensive/react"
      paths:
        - packages/react
    - component_id: suspensive-react-query
      name: "@suspensive/react-query"
      paths:
        - packages/react-query

chore: version packages (#260)
  .changeset/real-hairs-provide.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

docs: update codeline highlight
  docs/src/pages/docs/react-await/Await.en.mdx
  docs/src/pages/docs/react-await/Await.ko.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/src/pages/docs/react/SuspensiveProvider.ko.mdx
Due: none

chore: update
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
Due: none

chore(pnpm): force corepack by preinstall
  package.json
Due: none

docs(CONTRIBUTING.md): update about pnpm with corepack + nvm
  CONTRIBUTING.md
Due: none

perf(react): remove unnecessary useSetTimeout's callback calling
  configs/test-utils/src/ThrowError.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.ts
  packages/react/src/hooks/useTimeout.spec.ts
  packages/react/src/hooks/useTimeout.ts
Due: @suspensive/react

Create rare-chefs-behave.md
  .changeset/rare-chefs-behave.md
Due: none

docs: code reviewed
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
Due: none

docs: update
  docs/src/pages/docs/react-await/Await.en.mdx
  docs/src/pages/docs/react-await/Await.ko.mdx
Due: none

chore: reflect code review
  configs/test-utils/src/ThrowError.tsx
  packages/react/src/hooks/useTimeout.ts
Due: @suspensive/react

chore(pnpm): force corepack by preinstall (#262)
  CONTRIBUTING.md
  package.json
Due: none

perf(react): remove unnecessary useSetTimeout's callback calling (#264)
  .changeset/rare-chefs-behave.md
  configs/test-utils/src/ThrowError.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.ts
  packages/react/src/hooks/useTimeout.spec.ts
  packages/react/src/hooks/useTimeout.ts
Due: @suspensive/react

docs: update codeline highlight (#261)
  docs/src/pages/docs/react-await/Await.en.mdx
  docs/src/pages/docs/react-await/Await.ko.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/src/pages/docs/react/SuspensiveProvider.ko.mdx
Due: none

test(react): add useTimeout Test Code
  packages/react/src/hooks/useTimeout.spec.tsx
Due: @suspensive/react

Create chilly-owls-buy.md
  .changeset/chilly-owls-buy.md
Due: none

refac(react): change test code description
  packages/react/src/hooks/useTimeout.spec.tsx
Due: @suspensive/react

test(react): add useTimeout test case (#268)
  .changeset/chilly-owls-buy.md
  packages/react/src/hooks/useTimeout.spec.ts
  packages/react/src/hooks/useTimeout.spec.tsx
Due: @suspensive/react

chore: version packages
  .changeset/chilly-owls-buy.md
  .changeset/rare-chefs-behave.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#266)
  .changeset/chilly-owls-buy.md
  .changeset/rare-chefs-behave.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

feat(react): add experimental wrap to remove unnecessary hocs
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
Due: @suspensive/react

chore: update
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
Due: none

Create pretty-pumpkins-jam.md
  .changeset/pretty-pumpkins-jam.md
Due: none

Update .changeset/pretty-pumpkins-jam.md
  .changeset/pretty-pumpkins-jam.md
Due: none

fix(tsup): remove entry of experimental
  configs/tsup/src/index.ts
Due: none

Create swift-mayflies-serve.md
  .changeset/swift-mayflies-serve.md
Due: none

ci(.codesandbox): initialization
  .codesandbox/ci.json
Due: none

chore(ms): add dev dependency
  configs/test-utils/src/index.ts
  package.json
  packages/react-await/src/Await.spec.tsx
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/useTimeout.spec.tsx
  pnpm-lock.yaml
Due: @suspensive/react

fix: add module field of package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

Create smooth-poets-glow.md
  .changeset/smooth-poets-glow.md
Due: none

chore: update
  .changeset/swift-mayflies-serve.md
Due: none

fix: add module field of package.json (#275)
  .changeset/smooth-poets-glow.md
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore(ms): add dev dependency (#274)
  configs/test-utils/src/index.ts
  package.json
  packages/react-await/src/Await.spec.tsx
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/useTimeout.spec.tsx
  pnpm-lock.yaml
Due: @suspensive/react

chore: version packages
  .changeset/smooth-poets-glow.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#276)
  .changeset/smooth-poets-glow.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query
