Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: 100%
        threshold: 30%
      suspensive-react:
        target: 100%
        threshold: 30%
      suspensive-react-query:
        target: 100%
        threshold: 30%

comment:
  layout: "header, reach, diff, flags, components"

component_management:
  individual_components:
    - component_id: suspensive-react
      name: "@suspensive/react"
      paths:
        - packages/react
    - component_id: suspensive-react-query
      name: "@suspensive/react-query"
      paths:
        - packages/react-query

feat(react): update useErrorBoundary from experimental to stable (#255)
  .changeset/long-steaks-grin.md
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
Due: @suspensive/react

chore: version packages
  .changeset/long-steaks-grin.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#277)
  .changeset/long-steaks-grin.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

ci(.codesandbox): initialization (#273)
  .codesandbox/ci.json
Due: none

fix(tsup): remove entry for experimental subpath (#272)
  .changeset/swift-mayflies-serve.md
  configs/tsup/src/index.ts
Due: none

chore: version packages
  .changeset/swift-mayflies-serve.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#278)
  .changeset/swift-mayflies-serve.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

docs(react): add hyperlink
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
Due: none

Update docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
Due: none

feat(react): other implementation of wrap
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
Due: @suspensive/react

docs(react): unify adding link in same section
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
Due: none

docs(react): add hyperlink (#279)
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
Due: none

chore: Pin node version with volta
  package.json
Due: none

refactor(react): clarify wrap
  packages/react/src/wrap.ts
Due: @suspensive/react

fix: remove useless function define in useIsomorphicLayoutEffect
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: @suspensive/react

Create healthy-zoos-matter.md
  .changeset/healthy-zoos-matter.md
Due: none

chore: undo commit
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: @suspensive/react

fix(react): remove useless function define in useIsomorphicLayoutEffect
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: @suspensive/react

fix(react): remove useless function define in ThrowError
  configs/test-utils/src/ThrowError.tsx
Due: none

fix(react): remove useless variable assigning in useIsomorphicLayoutEffect (#283)
  .changeset/healthy-zoos-matter.md
  configs/test-utils/src/ThrowError.tsx
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Due: @suspensive/react

chore: version packages
  .changeset/healthy-zoos-matter.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#284)
  .changeset/healthy-zoos-matter.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: Pin node version with volta (#282)
  package.json
Due: none

chore: update all dependencies
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  .nvmrc
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/test-utils/package.json
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/package.json
  packages/react/src/Suspense.tsx
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(renovate): initialization
  .github/renovate.json
Due: none

chore(vitest, tsup): use built file
  configs/eslint-config-ts/noimport.js
  configs/tsup/.eslintrc.cjs
  configs/tsup/package.json
  configs/tsup/src/index.d.ts
  configs/tsup/src/index.js
  configs/tsup/tsconfig.json
  configs/vitest/.eslintrc.cjs
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  configs/vitest/tsconfig.json
Due: none

feat(react): update wrap as builder pattern (#280)
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
Due: @suspensive/react

chore(turbo): add remote cache to reduce duplicated ci or build
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  turbo.json
Due: none

chore: update
  turbo.json
Due: none

ci(.github/workflows/ci.yml): add build to reduce build time for production
  .github/workflows/ci.yml
Due: none

Create tender-turkeys-sniff.md
  .changeset/tender-turkeys-sniff.md
Due: none

chore: update project's dependencies (#289)
  .changeset/tender-turkeys-sniff.md
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  .nvmrc
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/test-utils/package.json
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/package.json
  packages/react/src/Suspense.tsx
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(turbo): add remote cache to reduce duplicated ci or build (#300)
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  turbo.json
Due: none
