Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

chore: update script for graph
  package.json
Due: none

refactor(react): apply assert
  packages/react-query/tsconfig.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/tsconfig.json
Due: @suspensive/react, @suspensive/react-query

chore: use @types/node to use process.env.*
  packages/react-query/tsconfig.json
  packages/react/tsconfig.json
Due: @suspensive/react, @suspensive/react-query

Create long-donkeys-applaud.md
  .changeset/long-donkeys-applaud.md
Due: none

chore: update
  packages/react/src/utils/index.ts
Due: @suspensive/react

refactor(react): apply assert (#164)
  .changeset/long-donkeys-applaud.md
  packages/react-query/tsconfig.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/tsconfig.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages
  .changeset/long-donkeys-applaud.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#165)
  .changeset/long-donkeys-applaud.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: eslint update
  packages/react/src/ErrorBoundary.spec.tsx
Due: @suspensive/react

test: add tests for withErrorBoundary
  packages/react/src/ErrorBoundary.spec.tsx
Due: @suspensive/react

test(react): enhance displayName test cases
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Due: @suspensive/react

test(react): add additional displayName test cases for withErrorBoundaryGroup (#167)
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Due: @suspensive/react

Update packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
Due: @suspensive/react

test(react): add tests for withErrorBoundary (#166)
  packages/react/src/ErrorBoundary.spec.tsx
Due: @suspensive/react

test: update tests for Await component and AwaitClient's clearError method
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

test: Update descriptions and structure
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

docs: update README.md
  README.md
Due: none

docs(README.md): update
  README.md
  assets/logo_readme.png
  packages/react-query/README.md
  packages/react/README.md
Due: @suspensive/react, @suspensive/react-query

Update packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

chore: await describe
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

test(react): add Await, awaitClient's clearError case (#169)
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

test(react): add isplainobject case
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
Due: @suspensive/react

chore(eslint): jsdoc
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  pnpm-lock.yaml
Due: none

Update packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.spec.ts
Due: @suspensive/react

test(react): add isPlainObject case (#173)
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
Due: @suspensive/react

refactor(react): divide isPlainObject as a file
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/isPlainObject.spec.ts
  packages/react/src/utils/isPlainObject.ts
Due: @suspensive/react

docs: update following new color theme
  README.md
  assets/logo_background.png
  assets/logo_background_star.png
  packages/react-query/README.ko.md
  packages/react/README.ko.md
  websites/docs/docusaurus.config.js
  websites/docs/src/css/custom.css
  websites/docs/src/pages/index.tsx
  websites/docs/static/banner.png
  websites/docs/static/img/favicon.ico
  websites/docs/static/img/logo.svg
  websites/docs/static/img/logo_background.png
  websites/docs/static/img/logo_background_star.png
  websites/docs/static/img/logo_dark.png
  websites/docs/static/img/logo_light.png
  websites/docs/static/img/logo_notcropped.png
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/favicon.ico
Due: @suspensive/react, @suspensive/react-query

chore(react): update spec describe for component
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
Due: @suspensive/react

test(react): add spec for HOC's displayName
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
Due: @suspensive/react

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
