Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps-dev): Bump turbo from 1.11.2 to 1.11.3 (#575)
  pnpm-lock.yaml
Due: none

chore(.vscode): add eslint.workingDirectories
  .vscode/settings.json
Due: none

Update packages/react/src/Delay.tsx
  packages/react/src/Delay.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Delay.tsx
  packages/react/src/Suspensive.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Delay.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/utils/assert.ts
Due: @suspensive/react

fix(react): assert message correctly, test code simply
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/utils/assert.ts
  packages/react/src/wrap.spec.tsx
Due: @suspensive/react

Create strange-jobs-mate.md
  .changeset/strange-jobs-mate.md
Due: none

chore: update
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/wrap.spec.tsx
Due: @suspensive/react

fix(react): assert message correctly, test code simply (#579)
  .changeset/strange-jobs-mate.md
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/wrap.spec.tsx
Due: @suspensive/react

chore: version packages (#581)
  .changeset/strange-jobs-mate.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update
  docs/v1/src/pages/docs/react-await/Await.en.mdx
  docs/v1/src/pages/docs/react-await/Await.ko.mdx
  docs/v1/src/pages/docs/react-image/Image.en.mdx
  docs/v1/src/pages/docs/react-image/Image.ko.mdx
  docs/v1/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/v1/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/v1/src/pages/docs/react/Delay.en.mdx
  docs/v1/src/pages/docs/react/Delay.ko.mdx
  docs/v1/src/pages/docs/react/DevMode.en.mdx
  docs/v1/src/pages/docs/react/DevMode.ko.mdx
  docs/v1/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/v1/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/v2/src/pages/docs/react-await/Await.en.mdx
  docs/v2/src/pages/docs/react-await/Await.ko.mdx
  docs/v2/src/pages/docs/react-image/Image.en.mdx
  docs/v2/src/pages/docs/react-image/Image.ko.mdx
  docs/v2/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/v2/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/v2/src/pages/docs/react/Delay.en.mdx
  docs/v2/src/pages/docs/react/Delay.ko.mdx
  docs/v2/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/v2/src/pages/docs/react/ErrorBoundary.ko.mdx
Due: none

fix(tsup): remove treeshaking, minification
  configs/tsup/src/index.ts
Due: none

Create shy-carrots-beg.md
  .changeset/shy-carrots-beg.md
Due: none

fix(tsup): remove treeshaking, minification (#584)
  .changeset/shy-carrots-beg.md
  configs/tsup/src/index.ts
Due: none

chore: version packages (#585)
  .changeset/shy-carrots-beg.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.17.0 to 6.18.1 (#589)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

test(react): add test case for enabled prop of ErrorBoundary
  configs/test-utils/src/CustomError.ts
  configs/test-utils/src/CustomNotError.ts
  configs/test-utils/src/index.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore: update
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

refactor(react): rename enabled prop as shouldCatch
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore: update
  .changeset/perfect-kangaroos-brake.md
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
Due: none

fix(react): add boolean in ShouldCatch
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore(deps-dev): Bump @testing-library/dom from 9.3.3 to 9.3.4 (#591)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump eslint-plugin-prettier from 5.1.2 to 5.1.3 (#586)
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/node from 18.19.5 to 18.19.6 (#588)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump axios from 1.6.4 to 1.6.5 (#587)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

ci(cspell): remove word
  configs/eslint-config-js/no-import.js
Due: none

fix(react): rename `enabled` as `shouldCatch` (#590)
  .changeset/perfect-kangaroos-brake.md
  configs/test-utils/src/CustomError.ts
  configs/test-utils/src/CustomNotError.ts
  configs/test-utils/src/index.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
Due: @suspensive/react

chore(deps-dev): Bump vite from 5.0.10 to 5.0.11 (#595)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @vitest/browser from 1.1.2 to 1.1.3 (#594)
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
