Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

docs: update experimental feature mark as admonitions of docusaurus (#201)
  .changeset/ninety-yaks-flash.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Due: @suspensive/react

fix: remove awaitClient from ErrorBoundary
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

Create large-schools-destroy.md
  .changeset/large-schools-destroy.md
Due: none

fix: remove awaitClient from ErrorBoundary (#205)
  .changeset/large-schools-destroy.md
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore: version packages
  .changeset/large-schools-destroy.md
  .changeset/ninety-yaks-flash.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#204)
  .changeset/large-schools-destroy.md
  .changeset/ninety-yaks-flash.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

docs(react): update tips as admonitions
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Due: @suspensive/react

docs: update
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseQueries.en.mdx
  packages/react-query/src/useSuspenseQueries.ko.mdx
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Due: @suspensive/react, @suspensive/react-query

Create modern-hotels-perform.md
  .changeset/modern-hotels-perform.md
Due: none

docs: update
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
Due: @suspensive/react, @suspensive/react-query

docs: update README.md
  README.md
Due: none

docs(docusaurus): add npm2yarn plugin (#199)
  .changeset/chilly-socks-act.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/README.ko.md
  packages/react/README.md
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
  websites/docs/package.json
Due: @suspensive/react, @suspensive/react-query

docs(react): update tips as admonitions (#207)
  .changeset/modern-hotels-perform.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseQueries.en.mdx
  packages/react-query/src/useSuspenseQueries.ko.mdx
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Due: @suspensive/react, @suspensive/react-query

chore(vitest): update version (#197)
  package.json
  pnpm-lock.yaml
Due: none

chore: version packages
  .changeset/chilly-socks-act.md
  .changeset/modern-hotels-perform.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#208)
  .changeset/chilly-socks-act.md
  .changeset/modern-hotels-perform.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

docs: update
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
Due: @suspensive/react

Create orange-pants-vanish.md
  .changeset/orange-pants-vanish.md
Due: none

docs(react): update doc for Delay (#198)
  .changeset/orange-pants-vanish.md
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
Due: @suspensive/react

docs: update
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
Due: @suspensive/react

Create silly-wolves-shave.md
  .changeset/silly-wolves-shave.md
Due: none

docs(react): update doc for ErrorBoundaryGroup (#193)
  .changeset/silly-wolves-shave.md
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
Due: @suspensive/react

docs: contributing.md
  CONTRIBUTING.md
Due: none

docs: use github discussion
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING.md): add suggestion
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING.md): add suggestion (#212)
  CONTRIBUTING.md
Due: none

docs: write contributing.md (#210)
  CONTRIBUTING.md
Due: none

chore: version packages
  .changeset/orange-pants-vanish.md
  .changeset/silly-wolves-shave.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#209)
  .changeset/orange-pants-vanish.md
  .changeset/silly-wolves-shave.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

feat(react): add useErrorBoundaryFallbackProps
  README.md
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/index.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
Due: @suspensive/react

refactor(react): to easier code
  README.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
Due: @suspensive/react, @suspensive/react-query

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
