Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

docs(react): add document for wrap (#342)
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
Due: none

ci(sherif): lint for monorepo (#343)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

fix(react): deprecate all withXXXs
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Due: @suspensive/react

Create funny-lemons-sit.md
  .changeset/funny-lemons-sit.md
Due: none

chore: useReducer increase resetKey
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRefreshKey.spec.ts
  packages/react/src/hooks/useRefreshKey.ts
Due: @suspensive/react

chore: dependency remove reset
  packages/react/src/ErrorBoundaryGroup.tsx
Due: @suspensive/react

Create tricky-students-compare.md
  .changeset/tricky-students-compare.md
Due: none

chore(deps): Bump axios from 1.6.0 to 1.6.1 (#348)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @commitlint/cli from 18.4.0 to 18.4.1 (#350)
  package.json
  pnpm-lock.yaml
Due: none

feat(image): initialize @suspensive/image
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  packages/image/.eslintrc.cjs
  packages/image/README.ko.md
  packages/image/README.md
  packages/image/package.json
  packages/image/src/Image.tsx
  packages/image/src/Load.ts
  packages/image/src/index.ts
  packages/image/test.setup.ts
  packages/image/tsconfig.json
  packages/image/tsup.config.ts
  packages/image/vitest.config.ts
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/image/page.tsx
Due: none

chore(deps-dev): Bump @commitlint/config-conventional from 18.1.0 to 18.4.0 (#349)
  package.json
  pnpm-lock.yaml
Due: none

fix(react-await): update package.json
  packages/react-await/package.json
Due: @suspensive/react

Create grumpy-cooks-tease.md
  .changeset/grumpy-cooks-tease.md
Due: none

Update .changeset/grumpy-cooks-tease.md
  .changeset/grumpy-cooks-tease.md
Due: none

fix(react-await): update package.json (#354)
  .changeset/grumpy-cooks-tease.md
  packages/react-await/package.json
Due: @suspensive/react

chore: version packages
  .changeset/grumpy-cooks-tease.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
Due: @suspensive/react

chore: version packages (#355)
  .changeset/grumpy-cooks-tease.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
Due: @suspensive/react

perf(react): remove useKey to reduce ErrorBoundaryGroup's size (#325)
  .changeset/tricky-students-compare.md
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKey.spec.ts
  packages/react/src/hooks/useKey.ts
Due: @suspensive/react

feat(react): re-throw received error if fallback of ErrorBoundary is undefined (#334)
  .changeset/dull-paws-wonder.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore: version packages
  .changeset/dull-paws-wonder.md
  .changeset/tricky-students-compare.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#356)
  .changeset/dull-paws-wonder.md
  .changeset/tricky-students-compare.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: resolve default export error of attw
  packages/image/src/index.ts
  websites/visualization/src/app/image/page.tsx
Due: none

chore(deps-dev): Bump @types/react-dom from 18.2.14 to 18.2.15 (#358)
  docs/package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(deps): Bump @typescript-eslint/parser from 6.10.0 to 6.11.0 (#359)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

test(image): add test case for load
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.d.ts
  configs/package-json-name/src/index.js
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  package.json
  packages/image/package.json
  packages/image/src/Image.tsx
  packages/image/src/Load.spec.ts
  packages/image/src/assets/test.png
  packages/image/vitest.config.ts
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

chore: update
  websites/visualization/src/app/image/page.tsx
Due: none

ci: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Due: none

chore: update
  .github/workflows/code-coverage.yml
Due: none

chore: update
  pnpm-lock.yaml
Due: none

chore: update
  packages/image/package.json
Due: none

Create warm-moons-confess.md
  .changeset/warm-moons-confess.md
Due: none

fix(react-query): remove bundledDependencies
  packages/react-query/package.json
Due: @suspensive/react, @suspensive/react-query

Create twelve-deers-scream.md
  .changeset/twelve-deers-scream.md
Due: none

fix(react-query): remove bundledDependencies (#362)
  .changeset/twelve-deers-scream.md
  packages/react-query/package.json
Due: @suspensive/react, @suspensive/react-query

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
