Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: 100%
        threshold: 30%
      suspensive-react:
        target: 100%
        threshold: 30%
      suspensive-react-query:
        target: 100%
        threshold: 30%
      suspensive-react-await:
        target: 100%
        threshold: 30%
      suspensive-image:
        target: 100%
        threshold: 30%

comment:
  layout: "header, reach, diff, flags, components"

component_management:
  individual_components:
    - component_id: suspensive-react
      name: "@suspensive/react"
      paths:
        - packages/react/**
    - component_id: suspensive-react-query
      name: "@suspensive/react-query"
      paths:
        - packages/react-query/**
    - component_id: suspensive-react-await
      name: "@suspensive/react-await"
      paths:
        - packages/react-await/**
    - component_id: suspensive-react-image
      name: "@suspensive/react-image"
      paths:
        - packages/react-image/**

chore: update
  websites/visualization/src/app/react/zodSearchParams/page.tsx
Due: none

chore(deps): update
  configs/test-utils/package.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

fix(react): new internal api `SuspensiveError` (#615)
  .changeset/gorgeous-beans-sniff.md
  .gitignore
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/models/SuspensiveError.spec.tsx
  packages/react/src/models/SuspensiveError.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/index.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/SuspensiveError/page.tsx
Due: @suspensive/react

chore: version packages (#685)
  .changeset/gorgeous-beans-sniff.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

ci(codecov): version up to v4
  .github/workflows/code-coverage.yml
Due: none

ci(codecov): version up to v4 (#686)
  .github/workflows/code-coverage.yml
Due: none

chore(deps): update
  docs/suspensive.org/package.json
  package.json
  pnpm-lock.yaml
Due: none

ci(codecov): flags
  codecov.yml
Due: none

chore: update
  codecov.yml
Due: none

ci(codecov): flags (#692)
  codecov.yml
Due: none

ci(codecov): use flag_management field (#693)
  codecov.yml
Due: none

docs(visualization): zod parse for searchParams assertion (#684)
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/zodSearchParams/page.tsx
Due: none

chore(codecov): update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: none

ci(lighthouse): add in workflow
  .github/workflows/ci.yml
  .gitignore
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  lighthouserc.cjs
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: update
  .github/workflows/ci.yml
Due: none

chore: update
  .lighthouserc.cjs
Due: none

ci(lighthouse): add in workflow (#694)
  .github/workflows/ci.yml
  .gitignore
  .lighthouserc.cjs
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

ci(lighthouse): only for suspensive.org
  .lighthouserc.cjs
  websites/visualization/tsconfig.json
Due: none

ci(lighthouse): only for suspensive.org (#695)
  .github/workflows/ci.yml
  .lighthouserc.cjs
  websites/visualization/tsconfig.json
Due: none

ci(lighthouse): for monorepo
  .lighthouserc.cjs
  package.json
Due: none
