Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: 100%
        threshold: 30%
      suspensive-react:
        target: 100%
        threshold: 30%
      suspensive-react-query:
        target: 100%
        threshold: 30%
      suspensive-react-await:
        target: 100%
        threshold: 30%
      suspensive-image:
        target: 100%
        threshold: 30%

comment:
  layout: "header, reach, diff, flags, components"

component_management:
  individual_components:
    - component_id: suspensive-react
      name: "@suspensive/react"
      paths:
        - packages/react/**
    - component_id: suspensive-react-query
      name: "@suspensive/react-query"
      paths:
        - packages/react-query/**
    - component_id: suspensive-react-await
      name: "@suspensive/react-await"
      paths:
        - packages/react-await/**
    - component_id: suspensive-react-image
      name: "@suspensive/react-image"
      paths:
        - packages/react-image/**

chore: version packages (#530)
  .changeset/three-seahorses-peel.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

fix(react): add OmitKeyOf to remove PropsWithoutChildren, PropsWithoutDevMode
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/utility-types/OmitKeyOf.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/PropsWithoutDevMode.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Due: @suspensive/react

Create nine-rats-yawn.md
  .changeset/nine-rats-yawn.md
Due: none

chore(deps): Bump @cspell/eslint-plugin from 8.2.4 to 8.3.0 (#533)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump vitest from 1.1.0 to 1.1.1 (#532)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @vitest/browser from 1.1.0 to 1.1.1 (#531)
  package.json
  pnpm-lock.yaml
Due: none

chore(pnpm): update version
  .github/actions/pnpm-setup-node/action.yml
  package.json
Due: none

feat(react): add svg logo for `<DevMode/>`
  packages/react/src/DevMode.tsx
Due: @suspensive/react

Create short-sheep-do.md
  .changeset/short-sheep-do.md
Due: none

chore: update
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
Due: @suspensive/react

chore(deps-dev): Bump @vitest/coverage-istanbul from 1.1.0 to 1.1.1 (#537)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @vitest/ui from 1.1.0 to 1.1.1 (#538)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @cspell/eslint-plugin from 8.3.0 to 8.3.1 (#536)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

ci(eslint): add plugin:@typescript-eslint/strict-type-checked
  configs/eslint-config-ts/no-import.js
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/tsconfig.json
  configs/tsup/.eslintrc.cjs
  configs/tsup/tsconfig.json
  configs/tsup/tsup.config.ts
  docs/v1/.eslintrc.cjs
  docs/v1/tsconfig.json
  docs/v2/.eslintrc.cjs
  docs/v2/tsconfig.json
  packages/react-await/.eslintrc.cjs
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/utils/hashKey.ts
  packages/react-await/tsconfig.json
  packages/react-image/.eslintrc.cjs
  packages/react-image/tsconfig.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react-query/tsconfig.check.json
  packages/react-query/tsconfig.json
  packages/react/.eslintrc.cjs
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/tsconfig.json
  websites/visualization/.eslintrc.cjs
  websites/visualization/tsconfig.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

Create tricky-sloths-glow.md
  .changeset/tricky-sloths-glow.md
Due: none

ci(eslint): add plugin:@typescript-eslint/strict-type-checked (#539)
  .changeset/tricky-sloths-glow.md
  configs/eslint-config-ts/no-import.js
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/tsconfig.json
  configs/tsup/.eslintrc.cjs
  configs/tsup/tsconfig.json
  configs/tsup/tsup.config.ts
  docs/v1/.eslintrc.cjs
  docs/v1/tsconfig.json
  docs/v2/.eslintrc.cjs
  docs/v2/tsconfig.json
  packages/react-await/.eslintrc.cjs
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/utils/hashKey.ts
  packages/react-await/tsconfig.json
  packages/react-image/.eslintrc.cjs
  packages/react-image/tsconfig.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react-query/tsconfig.check.json
  packages/react-query/tsconfig.json
  packages/react/.eslintrc.cjs
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/tsconfig.json
  websites/visualization/.eslintrc.cjs
  websites/visualization/tsconfig.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps): Bump @cspell/eslint-plugin from 8.3.1 to 8.3.2 (#541)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore: version packages (#543)
  .changeset/tricky-sloths-glow.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps-dev): Bump tsd from 0.29.0 to 0.30.2 (#544)
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @suspensive/react-query

chore(deps): Bump eslint-plugin-jsdoc from 46.9.1 to 48.0.2 (#542)
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/node from 18.19.3 to 18.19.4 (#540)
  package.json
  pnpm-lock.yaml
Due: none

chore(react-query): remove tsd
  .github/workflows/ci.yml
  configs/eslint-config-ts/index.js
  package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  pnpm-lock.yaml
  turbo.json
Due: @suspensive/react-query

fix(react): add OmitKeyOf to remove PropsWithoutChildren, PropsWithoutDevMode (#534)
  .changeset/nine-rats-yawn.md
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/utility-types/OmitKeyOf.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/PropsWithoutDevMode.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Due: @suspensive/react

chore(react): add backgroundColor for DevMode to differ default white background body
  packages/react/src/DevMode.tsx
Due: @suspensive/react

chore: version packages (#546)
  .changeset/nine-rats-yawn.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.16.0 to 6.17.0 (#550)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump axios from 1.6.3 to 1.6.4 (#549)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps): Bump @typescript-eslint/parser from 6.16.0 to 6.17.0 (#548)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @testing-library/jest-dom from 6.1.6 to 6.2.0 (#547)
  package.json
  pnpm-lock.yaml
Due: none

feat(react): add svg logo for `<DevMode/>` (#535)
  .changeset/short-sheep-do.md
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
Due: @suspensive/react

chore: version packages (#552)
  .changeset/short-sheep-do.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

fix(react-query): remove tsd
  .github/workflows/ci.yml
  configs/eslint-config-ts/index.js
  package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  pnpm-lock.yaml
  turbo.json
Due: @suspensive/react-query

chore: update
  packages/react-image/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/tsconfig.check.json
Due: @suspensive/react-query, @suspensive/react-image

chore: update
  packages/react-image/vitest.config.ts
Due: @suspensive/react-image

refactor(react-image): rename Image -> SuspenseImage
  packages/react-image/src/SuspenseImage.tsx
  packages/react-image/src/index.ts
  websites/visualization/src/app/react-image/page.tsx
Due: @suspensive/react-image

Create sour-geese-do.md
  .changeset/sour-geese-do.md
Due: none
