Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

fix(react): update BaseErrorBoundary method simply (#154)
  .changeset/gentle-laws-reflect.md
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

test(react): clarify test code (#153)
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
Due: @suspensive/react

chore: version packages
  .changeset/cool-carpets-tell.md
  .changeset/gentle-laws-reflect.md
  .changeset/grumpy-turtles-tickle.md
  .changeset/six-months-explode.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#155)
  .changeset/cool-carpets-tell.md
  .changeset/gentle-laws-reflect.md
  .changeset/grumpy-turtles-tickle.md
  .changeset/six-months-explode.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

docs(README.md): update
  README.md
Due: none

refactor(react): clarify variable name
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

Create chilly-drinks-change.md
  .changeset/chilly-drinks-change.md
Due: none

refactor(react): add useSetTimeout
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/hooks/useSetTimeout.ts
Due: @suspensive/react

feat(react): add useErrorBoundary, test code, visualization code, docs
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Due: @suspensive/react

chore: update
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Due: @suspensive/react

chore: update
  packages/react/src/hooks/useSetTimeout.spec.ts
Due: @suspensive/react

refactor(react): add useSetTimeout to reduce code
  packages/react/src/Delay.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/hooks/useSetTimeout.ts
  packages/react/src/utils/toTest.tsx
Due: @suspensive/react

Create friendly-ants-grab.md
  .changeset/friendly-ants-grab.md
Due: none

fix(assert): add assertion function to assert condition
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/index.ts
Due: @suspensive/react

Create spotty-rocks-dance.md
  .changeset/spotty-rocks-dance.md
Due: none

Update .changeset/spotty-rocks-dance.md
  .changeset/spotty-rocks-dance.md
Due: none

chore(vitest): add @vitest/ui
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

chore: update
  packages/react-query/package.json
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

refactor(react): clarify variable name (#156)
  .changeset/chilly-drinks-change.md
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

refactor(react): add useSetTimeout to reduce code (#158)
  .changeset/friendly-ants-grab.md
  packages/react/src/Delay.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/hooks/useSetTimeout.ts
  packages/react/src/utils/toTest.tsx
Due: @suspensive/react

chore: version packages
  .changeset/chilly-drinks-change.md
  .changeset/friendly-ants-grab.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#161)
  .changeset/chilly-drinks-change.md
  .changeset/friendly-ants-grab.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore(vitest): add @vitest/ui (#160)
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

Update packages/react/src/utils/assert.ts
  packages/react/src/utils/assert.ts
Due: @suspensive/react

fix(react): add assertion function to assert conditionchange some test code
  packages/react/package.json
  packages/react/src/utils/assert.spec.ts
Due: @suspensive/react

fix(react): revert script
  packages/react/package.json
Due: @suspensive/react

Update packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.spec.ts
Due: @suspensive/react

test(react): modify assertion test code. (#162)
  packages/react/src/utils/assert.spec.ts
Due: @suspensive/react

fix(react): add assertion function to assert condition (#159)
  .changeset/spotty-rocks-dance.md
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/index.ts
Due: @suspensive/react

chore: version packages
  .changeset/spotty-rocks-dance.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#163)
  .changeset/spotty-rocks-dance.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: update
  packages/react/src/utils/index.ts
Due: @suspensive/react

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
