Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

fix(react-query): remove bundledDependencies (#362)
  .changeset/twelve-deers-scream.md
  packages/react-query/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages
  .changeset/twelve-deers-scream.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#363)
  .changeset/twelve-deers-scream.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore(deps-dev): Bump prettier from 3.0.3 to 3.1.0 (#364)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.10.0 to 6.11.0 (#365)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

Create fuzzy-walls-swim.md
  .changeset/fuzzy-walls-swim.md
Due: none

chore(deps-dev): Bump @types/react from 18.2.34 to 18.2.37 (#366)
  .changeset/fuzzy-walls-swim.md
  configs/test-utils/package.json
  docs/package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages
  .changeset/fuzzy-walls-swim.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#368)
  .changeset/fuzzy-walls-swim.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

feat(await): rename @suspensive/react-await to @suspensive/await
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/docs/react-await/Await.en.mdx
  docs/src/pages/docs/react-await/Await.ko.mdx
  docs/src/pages/docs/react-await/installation.en.mdx
  docs/src/pages/docs/react-await/installation.ko.mdx
  packages/await/.eslintrc.cjs
  packages/await/LICENSE
  packages/await/README.ko.md
  packages/await/README.md
  packages/await/package.json
  packages/await/src/Await.spec.tsx
  packages/await/src/Await.tsx
  packages/await/src/index.ts
  packages/await/src/types/Tuple.ts
  packages/await/src/types/index.ts
  packages/await/src/utils/hasResetKeysChanged.spec.ts
  packages/await/src/utils/hasResetKeysChanged.ts
  packages/await/src/utils/hashKey.spec.ts
  packages/await/src/utils/hashKey.ts
  packages/await/src/utils/index.ts
  packages/await/src/utils/isPlainObject.spec.ts
  packages/await/src/utils/isPlainObject.ts
  packages/await/test.setup.ts
  packages/await/tsconfig.json
  packages/await/tsup.config.ts
  packages/await/vitest.config.ts
  packages/react-await/CHANGELOG.md
  packages/react-await/README.ko.md
  packages/react-await/README.md
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/react-await/page.tsx
Due: @suspensive/react

Create lucky-maps-sell.md
  .changeset/lucky-maps-sell.md
Due: none

chore: update
  packages/react-query/src/useSuspenseQueries.ts
Due: @suspensive/react, @suspensive/react-query

chore: update
  packages/image/package.json
Due: none

chore: update
  pnpm-lock.yaml
Due: none

refactor(react, react-query): remove unnecessary `as` by `Object.assign`
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
Due: @suspensive/react, @suspensive/react-query

Create clean-tigers-grow.md
  .changeset/clean-tigers-grow.md
Due: none

chore: format by prettier
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  packages/react-query/src/useSuspenseQueries.ts
Due: @suspensive/react, @suspensive/react-query

Revert "chore: format by prettier"
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  packages/react-query/src/useSuspenseQueries.ts
Due: @suspensive/react, @suspensive/react-query

refactor(react, react-query): remove unnecessary `as` by `Object.assign` (#372)
  .changeset/clean-tigers-grow.md
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
Due: @suspensive/react, @suspensive/react-query

chore: version packages
  .changeset/clean-tigers-grow.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#373)
  .changeset/clean-tigers-grow.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore(deps-dev): Bump @commitlint/cli from 18.4.1 to 18.4.2 (#370)
  package.json
  packages/react-query/src/useSuspenseQueries.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

chore(deps-dev): Bump sherif from 0.4.2 to 0.5.0 (#371)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @commitlint/config-conventional from 18.4.0 to 18.4.2 (#369)
  package.json
  pnpm-lock.yaml
Due: none

feat(package-json-name): add package-json-name
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  package.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-await/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react-query/vitest.setup.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/react/vitest.setup.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

chore(deps-dev): Bump eslint-config-next from 14.0.2 to 14.0.3 (#376)
  docs/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @next/eslint-plugin-next from 14.0.2 to 14.0.3 (#375)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump vite from 4.5.0 to 5.0.0 (#377)
  package.json
  pnpm-lock.yaml
Due: none

feat(package-json-name): add package-json-name (#374)
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  package.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-await/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react-query/vitest.setup.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/react/vitest.setup.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

chore: update
  configs/package-json-name/src/index.d.ts
  configs/package-json-name/src/index.js
Due: none

chore: update
  packages/image/vitest.config.ts
  packages/image/vitest.setup.ts
Due: none

chore: update
  package.json
  packages/image/package.json
  pnpm-lock.yaml
Due: none

refactor: extract unnecessary packages to root
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-query

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
