Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

codecov.yml:

coverage:
  status:
    patch: off
    project:
      default:
        target: 100%
        threshold: 30%
      suspensive-react:
        target: 100%
        threshold: 30%
      suspensive-react-query:
        target: 100%
        threshold: 30%
      suspensive-react-await:
        target: 100%
        threshold: 30%
      suspensive-image:
        target: 100%
        threshold: 30%

comment:
  layout: "header, reach, diff, flags, components"

component_management:
  individual_components:
    - component_id: suspensive-react
      name: "@suspensive/react"
      paths:
        - packages/react/**
    - component_id: suspensive-react-query
      name: "@suspensive/react-query"
      paths:
        - packages/react-query/**
    - component_id: suspensive-react-await
      name: "@suspensive/react-await"
      paths:
        - packages/react-await/**
    - component_id: suspensive-react-image
      name: "@suspensive/react-image"
      paths:
        - packages/react-image/**

feat(react): add fallback prop of Delay
  packages/react/src/Delay.tsx
Due: @suspensive/react

Create eight-ravens-knock.md
  .changeset/eight-ravens-knock.md
Due: none

fix(react-query): remove tsd (#553)
  .github/workflows/ci.yml
  configs/eslint-config-ts/index.js
  package.json
  packages/react-image/vitest.config.ts
  packages/react-image/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/tsconfig.check.json
  pnpm-lock.yaml
  turbo.json
Due: @suspensive/react-query, @suspensive/react-image

refactor(react-image): rename Image -> SuspenseImage (#554)
  .changeset/sour-geese-do.md
  packages/react-image/src/SuspenseImage.tsx
  packages/react-image/src/index.ts
  websites/visualization/src/app/react-image/page.tsx
Due: @suspensive/react-image

chore: version packages (#556)
  .changeset/sour-geese-do.md
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react-image

chore(pnpm): add prefer-workspace-packages
  .npmrc
Due: none

refactor(tsconfig): update moduleResolution as bundler
  configs/package-json-name/tsconfig.json
  configs/tsconfig/package.json
  configs/tsconfig/react-library.json
  configs/tsup/tsconfig.json
Due: none

Create young-years-knock.md
  .changeset/young-years-knock.md
Due: none

chore(vitest): add typecheck
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(vitest): add typecheck (#559)
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(pnpm): add prefer-workspace-packages (#557)
  .npmrc
Due: none

chore(deps-dev): Bump @vitest/browser from 1.1.1 to 1.1.2 (#563)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump vitest from 1.1.1 to 1.1.3 (#565)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump postcss from 8.4.32 to 8.4.33 (#564)
  docs/v1/package.json
  docs/v2/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @commitlint/cli from 18.4.3 to 18.4.4 (#561)
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  packages/react/src/Delay.tsx
  websites/visualization/src/app/react/Delay/page.tsx
Due: @suspensive/react

chore: update
  websites/visualization/src/app/react/Delay/page.tsx
Due: none

docs(react): add doc for fallback prop of Delay
  docs/v1/src/pages/docs/react/Delay.en.mdx
  docs/v1/src/pages/docs/react/Delay.ko.mdx
  docs/v2/src/pages/docs/react/Delay.en.mdx
  docs/v2/src/pages/docs/react/Delay.ko.mdx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react-await/Await/page.tsx
  websites/visualization/src/app/react-image/SuspenseImage/page.tsx
Due: none

feat(react): add catchOn throwOn prop on ErrorBoundary
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/catchOn/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/throwOn/page.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react

Create perfect-kangaroos-brake.md
  .changeset/perfect-kangaroos-brake.md
Due: none

Update .changeset/perfect-kangaroos-brake.md
  .changeset/perfect-kangaroos-brake.md
Due: none

fix(react): merge catchOn, throwOn as enabled
  .changeset/perfect-kangaroos-brake.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utility-types/ConstructorType.ts
  packages/react/src/utility-types/index.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/catchOn/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/enabled/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/throwOn/page.tsx
Due: @suspensive/react

fix(react): merge catchOn, throwOn as enabled (#570)
  .changeset/perfect-kangaroos-brake.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utility-types/ConstructorType.ts
  packages/react/src/utility-types/index.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/catchOn/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/enabled/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/throwOn/page.tsx
Due: @suspensive/react

Update packages/react/src/AsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
Due: @suspensive/react

chore(deps-dev): Bump tailwindcss from 3.4.0 to 3.4.1 (#571)
  docs/v1/package.json
  docs/v2/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(deps-dev): Bump @vitest/ui from 1.1.1 to 1.1.3 (#572)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/node from 18.19.4 to 18.19.5 (#574)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/react from 18.2.46 to 18.2.47 (#573)
  configs/test-utils/package.json
  docs/v1/package.json
  docs/v2/package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

fix(react): rename isDelayed as isDelaying
  packages/react/src/Delay.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Delay.tsx
Due: @suspensive/react

chore: wip
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/Await.ts
  packages/react-await/src/Await.tsx
  packages/react-await/src/AwaitCache.ts
  packages/react-await/src/AwaitClient.ts
  packages/react-await/src/AwaitClientProvider.tsx
  packages/react-await/src/AwaitObserver.ts
  packages/react-await/src/AwaitState.ts
  packages/react-await/src/contexts/AwaitClientContext.ts
  packages/react-await/src/contexts/index.ts
  packages/react-await/src/hooks/index.ts
  packages/react-await/src/hooks/useSyncExternalStore.ts
  packages/react-await/src/index.ts
  packages/react-await/src/models/GarbageCollectable.ts
  packages/react-await/src/models/Subscribable.ts
  packages/react-await/src/models/index.ts
  packages/react-await/src/types.ts
  packages/react-await/src/useAwait.spec.tsx
  packages/react-await/src/useAwait.tsx
  packages/react-await/src/useAwaitClient.ts
  packages/react-await/src/utils/hashKey.ts
  websites/visualization/src/app/api/delay/route.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-await/page.tsx
Due: @suspensive/react-await

chore(deps-dev): Bump @vitest/coverage-istanbul from 1.1.1 to 1.1.3 (#578)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/parser from 6.17.0 to 6.18.1 (#577)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @commitlint/config-conventional from 18.4.3 to 18.4.4 (#576)
  package.json
  pnpm-lock.yaml
Due: none
