Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps-dev): Bump jsdom from 23.0.1 to 23.2.0 (#593)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump prettier-plugin-tailwindcss from 0.5.10 to 0.5.11 (#592)
  package.json
  pnpm-lock.yaml
Due: none

fix(*): add use-sync-external-store
  packages/react-await/src/Await.tsx
  packages/react-image/src/Load.tsx
  packages/react/package.json
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/contexts/index.ts
  packages/react/src/models/Subscribable.ts
  pnpm-lock.yaml
Due: @suspensive/react, @suspensive/react-await, @suspensive/react-image

Create yellow-carrots-play.md
  .changeset/yellow-carrots-play.md
Due: none

docs(react): update for use-sync-external-store
  packages/react/src/contexts/SuspensiveDevModeContext.ts
Due: @suspensive/react

feat(react): add fallback prop of Delay (#555)
  .changeset/eight-ravens-knock.md
  docs/v1/src/pages/docs/react/Delay.en.mdx
  docs/v1/src/pages/docs/react/Delay.ko.mdx
  docs/v2/src/pages/docs/react/Delay.en.mdx
  docs/v2/src/pages/docs/react/Delay.ko.mdx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react-await/Await/page.tsx
  websites/visualization/src/app/react-image/SuspenseImage/page.tsx
  websites/visualization/src/app/react/Delay/page.tsx
Due: @suspensive/react

chore: version packages (#597)
  .changeset/eight-ravens-knock.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: add co-authors to exposure helpers definitely
  .changeset/perfect-kangaroos-brake.md
Due: none

chore(deps-dev): Bump vitest from 1.1.3 to 1.2.0 (#602)
  package.json
  pnpm-lock.yaml
Due: none

fix(react): improve readability
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore(deps-dev): Bump prettier from 3.1.1 to 3.2.2 (#600)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @vitest/ui from 1.1.3 to 1.2.0 (#599)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @types/node from 18.19.6 to 18.19.7 (#601)
  package.json
  pnpm-lock.yaml
Due: none

feat(react): add `shouldCatch` prop on ErrorBoundary (#569)
  .changeset/perfect-kangaroos-brake.md
  configs/test-utils/src/CustomError.ts
  configs/test-utils/src/CustomNotError.ts
  configs/test-utils/src/index.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utility-types/ConstructorType.ts
  packages/react/src/utility-types/index.ts
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react

chore: version packages (#603)
  .changeset/perfect-kangaroos-brake.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: resolve eslint error
  packages/react-query/src/useSuspenseQueries.ts
Due: @suspensive/react-query

chore(deps-dev): Bump @vitest/browser from 1.1.3 to 1.2.0 (#607)
  package.json
  pnpm-lock.yaml
Due: none

fix(react-image): add Error on load rejected
  .changeset/nice-planes-fetch.md
  configs/eslint-config-ts/package.json
  configs/test-utils/package.json
  docs/v1/package.json
  docs/v2/package.json
  package.json
  packages/react-await/package.json
  packages/react-await/src/Await.spec.tsx
  packages/react-image/package.json
  packages/react-image/src/Load.tsx
  packages/react-query/package.json
  packages/react-query/tsconfig.vitest-temp.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore: version packages (#609)
  .changeset/nice-planes-fetch.md
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react-image

feat(react): add ErrorBoundary.Consumer/ConsumerFallbackProps, ErrorBoundaryGroup.Consumer
  README.md
  docs/v1/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/v1/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/v1/src/pages/docs/react/wrap.en.mdx
  docs/v1/src/pages/docs/react/wrap.ko.mdx
  docs/v2/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/v2/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/v2/src/pages/docs/react/wrap.en.mdx
  docs/v2/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
Due: @suspensive/react

Create little-ladybugs-relate.md
  .changeset/little-ladybugs-relate.md
Due: none

Update .changeset/little-ladybugs-relate.md
  .changeset/little-ladybugs-relate.md
Due: none

chore: update
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore(deps): update
  configs/eslint-config-ts/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(react): add AssertionError
  packages/react/src/AssertionError.spec.tsx
  packages/react/src/AssertionError.ts
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/index.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/index.ts
Due: @suspensive/react

Create gorgeous-beans-sniff.md
  .changeset/gorgeous-beans-sniff.md
Due: none

docs(visualization): add example
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/AssertionError/page.tsx
Due: none

Update packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
Due: @suspensive/react

chore: resolve eslint error
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
Due: @suspensive/react

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update
  docs/v1/package.json
  docs/v2/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  package.json
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react/package.json
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/DevMode.production.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/SuspensiveDevModeContext.production.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/wrap.tsx
  packages/react/vitest-production.config.ts
  packages/react/vitest-production.setup.ts
  packages/react/vitest.setup.ts
  pnpm-lock.yaml
  turbo.json
Due: @suspensive/react, @suspensive/react-query

chore(deps-dev): Bump vite from 5.0.11 to 5.0.12 (#624)
  package.json
  pnpm-lock.yaml
Due: none

ci(beta): add branch to prerelease
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
