Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

chore(deps-dev): Bump @vitest/ui from 1.0.0-beta.6 to 1.1.0 (#494)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/parser from 6.14.0 to 6.15.0 (#495)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @typescript-eslint/eslint-plugin from 6.14.0 to 6.15.0 (#496)
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps): Bump @cspell/eslint-plugin from 8.1.3 to 8.2.3 (#498)
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump @next/eslint-plugin-next from 14.0.3 to 14.0.4 (#497)
  docs/v1/package.json
  docs/v2/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

ci(eslint): add import/no-cycle to prevent memory leak
  .github/actions/pnpm-setup-node/action.yml
  .vscode/settings.json
  configs/eslint-config-js/index.js
  configs/eslint-config-ts/index.js
  package.json
  packages/react-await/src/Await.tsx
  packages/react-await/src/utility-types/Tuple.ts
  packages/react-await/src/utility-types/index.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Due: @suspensive/react, @suspensive/react-await

chore: update
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Suspense.tsx
Due: @suspensive/react

chore: update
  packages/react/src/wrap.tsx
Due: @suspensive/react

chore: update
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
Due: @suspensive/react

Create yellow-ducks-chew.md
  .changeset/yellow-ducks-chew.md
Due: none

ci(eslint): add import/no-cycle to prevent memory leak (#499)
  .changeset/yellow-ducks-chew.md
  .github/actions/pnpm-setup-node/action.yml
  .vscode/settings.json
  configs/eslint-config-js/index.js
  configs/eslint-config-ts/index.js
  package.json
  packages/react-await/src/Await.tsx
  packages/react-await/src/utility-types/Tuple.ts
  packages/react-await/src/utility-types/index.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Due: @suspensive/react, @suspensive/react-await

chore: version packages (#500)
  .changeset/yellow-ducks-chew.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: update
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDevModeObserve.ts
Due: @suspensive/react

chore: update
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/index.ts
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react/DevMode/page.tsx
Due: @suspensive/react

chore: update
  packages/react/src/Suspense.spec.tsx
Due: @suspensive/react

ci(.github/workflows): playwright install compactly
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Due: none

ci(eslint): add react/jsx-curly-brace-presence rule
  configs/eslint-config/react.js
Due: none

chore: formatting
  turbo.json
Due: none

chore: add treeshake, minify option
  configs/tsup/src/index.ts
Due: none

docs: add defaultShowCopyCode option
  docs/v1/next.config.js
  docs/v2/next.config.js
Due: none

chore: migrate to v2
  docs/v2/src/pages/docs/migrate-to-v2.en.mdx
Due: none

Create weak-melons-learn.md
  .changeset/weak-melons-learn.md
Due: none

chore: add tsup config for reduce bundle size and tresshake (#504)
  .changeset/weak-melons-learn.md
  configs/tsup/src/index.ts
  turbo.json
Due: none

chore: version packages (#506)
  .changeset/weak-melons-learn.md
  packages/react-await/CHANGELOG.md
  packages/react-await/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  websites/visualization/CHANGELOG.md
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

wip: Docs/migrate v2 (#505)
  docs/v1/next.config.js
  docs/v2/next.config.js
  docs/v2/src/pages/docs/migrate-to-v2.en.mdx
Due: none

chore(deps-dev): Bump sherif from 0.6.1 to 0.7.0 (#510)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): Bump vitest from 1.0.4 to 1.1.0 (#508)
  package.json
  pnpm-lock.yaml
Due: none

docs(docs/v1): update
  .vscode/settings.json
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
  docs/v1/src/pages/docs/react/devMode.en.mdx
  docs/v1/src/pages/docs/react/devMode.ko.mdx
Due: none

chore(deps-dev): Bump publint from 0.2.6 to 0.2.7 (#509)
  package.json
  pnpm-lock.yaml
Due: none

chore(react-query): resolve error for lint:attw
  packages/react-query/package.json
Due: @suspensive/react-query

chore: update
  packages/react/src/Suspensive.tsx
Due: @suspensive/react

chore: update
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
  docs/v1/src/pages/docs/react/devMode.en.mdx
  docs/v1/src/pages/docs/react/devMode.ko.mdx
  packages/react/src/Suspensive.tsx
  packages/react/src/index.ts
  websites/visualization/src/app/providers.tsx
Due: @suspensive/react

chore: update
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
  docs/v1/src/pages/docs/react/devMode.en.mdx
  docs/v1/src/pages/docs/react/devMode.ko.mdx
Due: none

Path conditions:
  @suspensive/react: any of: packages/react/**
  @suspensive/react-query: any of: packages/react-query/**
  @suspensive/react-await: any of: packages/react-await/**
  @suspensive/react-image: any of: packages/react-image/**
