Repository toss/suspensive: changes, and which Codecov flags are due for each by the changed paths.
All: @suspensive/react, @suspensive/react-query

feat(react): add experimental wrap to remove unnecessary hocs (#270)
  .changeset/pretty-pumpkins-jam.md
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
Due: @suspensive/react

chore(deps): unify version of @types/node
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: remove typescript in docs
  docs/package.json
  pnpm-lock.yaml
Due: none

chore(deps): unify version of @types/node (#329)
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages
  .changeset/pretty-pumpkins-jam.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

chore: version packages (#328)
  .changeset/pretty-pumpkins-jam.md
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: @suspensive/react, @suspensive/react-query

ci: remove prepack by using depends on
  .github/workflows/ci.yml
  turbo.json
Due: none

chore: update
  turbo.json
Due: none

chore: update
  .github/workflows/code-coverage.yml
  package.json
  turbo.json
Due: none

chore: update
  package.json
Due: none

ci: remove prepack by using dependsOn of turbo.json (#330)
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  package.json
  turbo.json
Due: none

ci(deps): update nextjs monorepo to v14.0.2 (#331)
  docs/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(docs): clarity initialization
  docs/src/pages/_app.mdx
Due: none

chore(docs): clarity initialization (#332)
  docs/src/pages/_app.mdx
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix(react): add re-throw received error with no fallback of ErrorBoundary
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

ci(dependabot): init (#333)
  .github/dependabot.yml
Due: none

Create dull-paws-wonder.md
  .changeset/dull-paws-wonder.md
Due: none

chore(deps): bump eslint-plugin-jsdoc from 46.8.2 to 46.9.0 (#335)
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): bump @commitlint/cli from 18.2.0 to 18.4.0 (#339)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump next from 14.0.1 to 14.0.2 (#338)
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore(renovate): remove it because of dependabot
  .github/renovate.json
Due: none

chore(renovate): remove renovate bot because of dependabot (#340)
  .github/renovate.json
Due: none

test(react): add test case
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

chore: update
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

Update .changeset/dull-paws-wonder.md
  .changeset/dull-paws-wonder.md
Due: none

docs(react): add document for wrap
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
Due: none

chore: update
  packages/react/src/ErrorBoundary.tsx
Due: @suspensive/react

ci(sherif): lint for monorepo
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Due: none

chore: reflect lint(cspell)
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-js/index.js
  configs/eslint-config-js/no-import.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/index.js
  configs/eslint-config-ts/no-import.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react-ts-no-import.js
  docs/public/img/logo_not_cropped.png
  packages/react/src/hooks/useTimeout.spec.tsx
  websites/visualization/public/logo_not_cropped.png
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react

fix(react): deprecate AsyncBoundary
  README.md
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/_meta.en.json
  docs/src/pages/docs/react-query/_meta.ko.json
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/why.en.mdx
  docs/src/pages/docs/why.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react, @suspensive/react-query

Create nasty-cooks-judge.md
  .changeset/nasty-cooks-judge.md
Due: none

chore: update
  docs/src/pages/docs/react/wrap.ko.mdx
Due: none

chore: reflect lint(cspell) (#344)
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-js/index.js
  configs/eslint-config-js/no-import.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/index.js
  configs/eslint-config-ts/no-import.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react-ts-no-import.js
  docs/public/img/logo_not_cropped.png
  packages/react/src/hooks/useTimeout.spec.tsx
  websites/visualization/public/logo_not_cropped.png
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/components/uis/index.tsx
Due: @suspensive/react

Path conditions:
  @suspensive/react: any of: packages/react
  @suspensive/react-query: any of: packages/react-query
